.help-page {
  padding: 20px;
  text-align: center;
  min-height: 2500px;
}
.help-container {
  background-color: #dce0e2;
  padding: 20px;
  min-height: 500px;
  height: fit-content;
}

.help-container input[type=text]{
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  padding-left: 15px;
  border-radius: 5px;
  border-bottom: 4px solid #78b5d6;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 20px;
  /* Add a top margin */
}

.help-container textarea {
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  max-height: 900px;
  /* Full width */
  padding: 12px;
  /* Some padding */
  padding-left: 15px;
  border-radius: 5px;
  border-bottom: 4px solid #78b5d6;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 20px;
  /* Add a top margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */

}

.help-container select{
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  /* Full width */
  margin-bottom: 16px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border-bottom: 4px solid #78b5d6;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 20px;
  /* Add a top margin */
    /* Allow the user to vertically resize the textarea (not horizontally) */

}

.help-container input[type=email]{
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  /* Full width */
  padding: 12px;
  padding-left: 15px;
  /* Some padding */
  border-radius: 5px;
  border-bottom: 4px solid #78b5d6;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 20px;
  /* Add a top margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

.help-container form {
  max-width: 800px;
  max-height: 1500px;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 100px;
  border: 1px solid #691c1c;
  border-radius: 5px;
  background-color: rgba(173, 201, 199, 0.306);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 8px solid #78b5d6;
  border-left: 8px solid #78b5d6;
  border-top: 8px solid #78b5d6;
  border-right: 8px solid #78b5d6;
  resize: vertical;
}

/* Styles for the form fields and labels */
.help-container form div {
  margin-bottom: 15px;
}

/* label {
    display: block;
    font-weight: bold;
  } */
.spancolor {
  color: #e74c3c;
}

.help-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for error messages */


/* Styles for the submit button */
/* Style the submit button with a specific background color etc */
.help-container button[type=submit] {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 20px;
  border: 2px solid #0288d1;
  background-color: white;
  color: #0288d1;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
.help-container button[type=submit]:hover {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 20px;
  border: 2px solid #0288d1;
  color: white;
  background-color: #0288d1;
  float: right;
  font-weight: bold;
}

