.pneumonia-container {
    width: 50vw;
    height: 50vh;
  }
  
  td {
    text-align: center;
  }
  
  .predictButton {
    background-color: #ef5350 !important;
  }
  
  .saveButton {
    background-color: #42a5f5 !important;
    width: fit-content;
  }
  
  .skin-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    row-gap: 20px;
  }
  